@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e7e7e9;
    margin: 0;

}

nav {
    position: fixed;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    background: #ffc917;
    margin: 0;
    max-height: 4em;
    width: 100%;
    padding: 0;
    z-index: 5;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

}

nav a {
    font-size: 1.1em;
}

ul {
    padding: 0;
    display: flex;

}

li {
    list-style: none;
    margin: 0.8em;
    margin-top: 0;
}

li:nth-child(2) {
    margin-left: auto;


}

.ns {
    margin: 0;
    width: 4rem;

}

header > img:nth-child(2) {
    width: 100%;
    margin-top: 3em;
    overflow: hidden;
    position: relative;
}

h1 {
    font-family: 'Anton', sans-serif;
    position: absolute;
    margin-left: 0.2em;
    top: 4%;
    color: #003082;
    font-size: 3.5em;
    text-transform: uppercase;
}

.cls-1 {
    fill: #fff;
    stroke-miterlimit: 10;
}

.cls-1,
.cls-2 {
    stroke: #fff;
}

.cls-2 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

section {
    display: flex;
}

section button {
    cursor: pointer;
    height: 2.5rem;
    background-color: transparent;
    border: 0.15em solid #ffc917;
    border-radius: 0.6em;
    font-size: 1em;
    padding: .5em;
    transition-duration: .5s;
    text-align: center;
}


section button:hover {
    box-shadow: 0 0 2.5rem 2.5rem #ffc917 inset;
    color: white;
}

section button:focus {
    box-shadow: 0 0 2.5rem 2.5rem #ffc917 inset;
    cursor: pointer;
    color: white;
    outline: none;
}

section:nth-child(2) {
    margin-left: 0.625rem;

}

.search {
    position: absolute;
    right: 0;
    margin-right: 0.9375rem;
    background: #003082;
    height: 1.5625rem;
    border-radius: 0.6em;
    padding: .5em 1em;
    margin-bottom: 0.625rem;

}

section svg {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 4;
}

.search:focus-within > .searchButton {
    background: #ffc917;

}

.searchButton {
    float: right;
    width: 2rem;
    height: 100%;
    border-radius: 0.2em;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.searchInput {
    border: none;
    background: none;
    padding: 0;
    color: white;
    font-size: 1rem;
    transition: 0.4s;
    line-height: 1.875rem;
    width: 0;

}

.search:hover > .searchButton {
    color: #ffc917;
}

.search:focus-within > .searchInput {

    width: 15rem;
    padding: 0 0.6rem;
}

main {
    display: grid;
    justify-content: center;
}

section h2 {
    display: none;

}

main > form {
    display: flex;
    margin: 0.8em;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    background-color: #ffc917;
    border-radius: 1.25rem;
    grid-column: 1 / -1;
    color: black;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in;

}

main > form button {
    align-self: center;
    float: right;
    align-items: flex-start;
    margin-left: 0.625rem;
    cursor: pointer;
    height: 2.5rem;
    background-color: white;
    border: 0.15em solid #003082;
    border-radius: 0.6em;
    font-size: 1em;
    padding: .5em 1em;

    text-align: center;
}

main > form button:hover {
    cursor: pointer;
    box-shadow: 0 0 2.5rem 2.5rem #003082 inset;
    color: white;
}

main > form button:focus {
    outline: none;
}


main > form fieldset {
    border: none;
}

main > form legend {
    font-weight: bold;
    color: white;
    font-size: 1.4rem;
}




main > form div:first-child {
    margin: 0.8rem 0;
    padding: 0;
}

main > form div:nth-child(2) {
    margin: 0.1rem 0;
}


main > form.show {
    margin: 0.8em;
    height: 11em;


}

input[type="checkbox"] {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


label {
    margin: 0.1em;
}

input[type="checkbox"] + label {
    display: block;
    font-weight: 100;
    margin: auto;
    border-bottom: 2px solid white;
    color: white;
    padding: 0 0.6rem 0.6rem 0;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    color: #003082;
    border-bottom-color: #003082;

}



aside {
    z-index: 2;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    border-spacing: 0;
    padding: 1em;
    margin: 0.8em;
    background-color: #003082;
    border-radius: 1.25rem;
    grid-column: 1 / -1;
    color: white;
}

article {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    border-spacing: 0;
    padding: 0.5em;
    margin: 0.8em;
    border: solid white 0.4rem;
    background-color: white;
    border-radius: 1rem;
    min-height: 10em;
    max-height: 40em;

}

article img {

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 20px;
}


article > div {
    display: flex;
    position: relative;
}

article > div > p {
    justify-content: flex-end;
    margin: 0.3rem;
    font-style: italic;
    color: grey;
}


article a {
    justify-content: flex-end;
    cursor: pointer;
    height: 100%;
    width: 40%;
    background-color: transparent;
    border: 0.15em solid #003082;
    border-radius: 0.6em;
    font-size: 1em;
    padding: .5em 1em;
    align-self: flex-end;
    transition-duration: .5s;
    text-decoration: none;
    text-align: center;
    color: #003082;


}





article a:hover {
    box-shadow: 0 0 2.5rem 2.5rem #003082 inset;
    color: white;
}



footer {

    overflow: hidden;
    box-shadow: 0 0 0 0.125rem rgba(7, 7, 33, .15);
    background: #ffc917;
    margin: 0;
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 1.1em;
    text-align: center;

}

footer p {
    margin-top: 0;
}

footer > form {

    display: flex;
    max-width: 20em;
    border-radius: 5px;
}


footer input[type=text],
input[type=email],
textarea {
    width: 20em;
    height: 3em;
    padding: 1em;
    border: 0.6 solid #003082;
    border-radius: 6px;
    box-sizing: border-box;

}

footer > form:invalid {
    background: #003082;

}

footer input[type=text]:focus,
textarea:focus {
    outline: none;
}

footer label {
    display: block;
}

fieldset {

    border: none;
}

input:valid,
textarea:valid {
    border: solid #003082 2px;

}

::placeholder {
    color: lightgray;
    font-style: italic;
}



input:invalid,
textarea:invalid {
    border: solid red 2px;
}

input:focus,
textarea:focus {
    outline: none;
}

footer input[type=submit] {
    align-self: center;
    cursor: pointer;
    height: 2.5rem;
    background-color: white;
    border: 0.15em solid #003082;
    border-radius: 0.6em;
    font-size: 1em;
    padding: .5em 1em;
    transition-duration: .5s;



}

footer > input {
    box-shadow: none;
}

footer input[type=submit]:focus {
    outline: none;
}

footer input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0 0 2.5rem 2.5rem #003082 inset;
    color: white;
}

/* animatie */

@keyframes train {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

footer svg {
    overflow: hidden;
    width: 70%;
    height: 40%;
    position: relative;
    animation: train 3s infinite;
    animation-timing-function: linear;
    z-index: 4;
}

/*svg*/
.st0 {
    fill: #253B7C;
}

.st1 {
    fill: #56555D;
}

.st2 {
    fill: #FFFFFF;
}

.st3 {
    fill: #FFCB19;
}

.st4 {
    fill: #E8E8EB;
}

.st5 {
    fill: none;
    stroke: #E8E8EB;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

@media(min-width: 40em) {
    main {
        grid-template-columns: 50% 50%;
    }


    main > form.show {
        margin: 0.8em;
        height: 6.5em;


    }

    footer svg {
        width: 50%;
        position: relative;
        animation: train 8s infinite;
        animation-timing-function: linear;
        z-index: 4;
    }

    input[type="checkbox"] + label {
        display: inline;


    }



    @media(min-width: 60em) {
        main {
            grid-template-columns: 30% 30% 30%;


        }

        h1 {
            font-size: 5.5em;
        }



        .search:hover > .searchInput {
            width: 10rem;
            padding: 0 0.3rem;
        }


        .searchBox:hover > .searchInput {
            width: 10rem;
            padding: 0 0.3rem;
        }


        .search:hover > .searchButton {
            background: #ffc917;

        }

        footer label {
            display: inline-flex;
            align-items: baseline;
        }



        footer input,
        textarea,
        button {
            display: inline-flex;
            align-items: baseline;
        }

    }
