@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background: url(../images/round.svg);
    font-family: 'Open Sans', sans-serif;
    background-color: #003082;
    margin: 0;
    animation: move 20s linear infinite;
}

@-webkit-keyframes move {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
}

nav {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    background: #ffc917;
    margin: 0;
    max-height: 4em;
    width: 100%;
    padding: 0;
    z-index: 5;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    position: fixed;
}

nav a {
    font-size: 1.1em;
}

ul {
    padding: 0;
    display: flex;
}

li {
    font-style: bold;
    list-style: none;
    margin: 0.8em;
    margin-top: 0;
}

li:nth-child(2) {
    margin-left: auto;
}

.ns {
    margin: 0;
    width: 4rem;
}



h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3em;
    -webkit-text-stroke: 0.01em white;
    -webkit-text-fill-color: transparent;
    position: fixed;
    font-size: 4em;
    left: 0;
    top: 0;
    margin-top: 10em;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    z-index: 2;
    text-transform: uppercase;
}

article {

    padding-top: 5em;
    line-height: 1.2;
    margin: 0 2em 0 4em;
    
}

h2 {
    font-size: 1em;
    color: white;
    text-align: center;
}

article > p {

    color: white;
    padding: 1.2em;
    margin: 0 0 1em;
}

article > p::first-letter {
    font-family: 'Anton', sans-serif;
    color: #ffc917;
    font-size: 4em;
}

footer {

    overflow: hidden;
    box-shadow: 0 0 0 0.125rem rgba(7, 7, 33, .15);
    background: #ffc917;
    margin: 0;
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 1.1em;
    text-align: center;
}

footer p {
    margin-top: 0;
}


@media(min-width: 60em) {
    article {
        display: grid;
        grid-template-columns: 3% 18% 18% 18% 18% 18%;
        grid-gap: 0.3rem;
    }

    h2 {
        margin-left: -4em;
    }
}
