@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e7e7e9;
    margin: 0;
}



nav {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    background: #ffc917;
    margin: 0;
    overflow: hidden;
    height: 4em;
    width: 100%;
    z-index: 520;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
}

ul {
    display: flex;
}

li:nth-child(2) {
    justify-content: flex-end;
}

li {
    list-style: none;
}

.ns {
    width: 3.25rem;
    height: 1.25rem;
    float: left;
    display: block;
    margin-top: 0px;
}

img.link3 {

    height: 1.25em;
    float: right;
    justify-content: flex-end;

}

img.link1 {
    float: right;
    height: 1.25em;
    margin-left: 5px;

}


img.link2 {
    display: flex;
    height: 5em;

}



.banner img {
    width: 100%;
    margin-top: 3em;

}

.banner {
    position: relative;


}

.title {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: #003082;
    position: absolute;
    top: 36%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);


}






/* naar boven knop */
.gototop {
    cursor: pointer;
    position: fixed;
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: none;
    background-color: #003082;
    border-radius: 0.6em;
    bottom: 50px;
    right: 30px;
    margin-right: -30px;
    opacity: 0;
    z-index: 500;
    transition: opacity .3s ease, margin-right .5s ease-out;
}

.visible {
    transition: opacity .3s ease, margin-right .5s ease-out;
    margin-right: 0px;
    opacity: 1;
}

.gototop::before,
.gototop::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 2px;
    background-color: #fff;
    top: 16px;
}

.gototop::before {
    left: 18px;
    transform: rotate(45deg);
}

.gototop::after {
    right: 18px;
    transform: rotate(-45deg);
}

.sortcontainer {
    display: flex;
}

.sort {
    align-items: flex-start;
    margin-left: 10px;
    cursor: pointer;
    height: 40px;
    background-color: transparent;
    border: 2px solid #ffc917;
    border-radius: 0.6em;
    font-size: 1em;
    padding: .5em 1em;
    transition-duration: .5s;
    text-align: center;
}

.sort:hover {
    box-shadow: 0 0 40px 40px #ffc917 inset;
    color: white;
}

/* search button css from https://codepen.io/omarsherifs/pen/KGLYYW but tweaked to touch on mobile and styled with my website's theme*/

.search {
    position: absolute;
    right: 0;
    margin-right: 15px;
    background: #003082;
    height: 25px;
    border-radius: 0.6em;
    padding: .5em 1em;
    margin-bottom: 10px;

}


.zoekknop {

    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 4;
}

.search:focus-within > .searchButton {

    background: #ffc917;

}

.searchButton {
    font-size: 16px;
    float: right;
    width: 50px;
    height: 100%;
    border-radius: 0.2em;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.searchInput {
    border: none;
    background: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}

.search:hover > .searchButton {

    color: #ffc917;
}

.search:focus-within > .searchInput {

    width: 180px;
    padding: 0 6px;
}

.container {
    margin-top: 3em;
    display: grid;
    justify-content: center;


}



/* animatie */

@keyframes mymove {
    from {
        left: -500%;
    }

    to {
        left: 200%;
    }
}



.relative {
    position: relative;
}

.preview {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.previewr {
    position: absolute;
    left: 85%;
    top: 5%;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

#saved {
    display: none;
    position: absolute;
    left: 85%;
    top: 5%;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}



.verhaal {

    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    border-spacing: 0;
    padding: 0.5em;
    margin: 0.8em;
    border: solid white 2px;
    background-color: white;
    border-radius: 20px;
    max-height: 50em;
    /* animation-name: schrijver;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/

}



.verhaal .save {
    position: relative;
    top: 20px;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.comments {
    position: relative;

    display: flex;
    justify-content: flex-end space-between;
    align-items: baseline;
}

.comments p {

    margin: 5px;
    font-style: italic;
    color: grey;
}

.lezen {
    cursor: pointer;
    margin-left: auto;
    height: 100%;
    width: 40%;
    background-color: transparent;
    border: 2px solid #003082;
    border-radius: 0.6em;
    font-size: 1em;
    padding: .5em 1em;
    float: right;
    transition-duration: .5s;
    text-decoration: none;
    text-align: center;
}

a:visited {
    color: #003082;
}

.lezen:hover {
    box-shadow: 0 0 40px 40px #003082 inset;
    color: white;
}


aside {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    border-spacing: 0;
    padding: 1em;
    margin: 0.8em;
    background-color: #003082;
    border-radius: 20px;
    grid-column: 1 / -1;
    color: white;
}

@keyframes schrijver {
    from {
        border-color: white;
    }

    to {
        border-color: #ffc917;
    }
}



footer {
    box-shadow: 0 0 0 0.125rem rgba(7, 7, 33, .15);
    background: #ffc917;
    margin: 0;
    border-radius: 20px 20px 0 0;
    padding: 1.1em;
    text-align: center;
}

footer p {
    margin-top: 0px;
}

h3 {
    margin-top: 0;
}

.vragen {
    grid-template-columns: 33%;
    display: grid;
    border-radius: 5px;
    padding: 20px;
}

footer input[type=text],
textarea {
    width: 100%;
    padding: 5px;
    border: 2px solid #003082;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    display: inline-block;
    position: relative;
}

label {
    padding: 12px 10px 2px 0;
    display: inline-block;
    float: left;
}

input[type=submit] {
    background-color: #003082;
    color: white;
    padding: 12px 20px;
    margin: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.mytrain {
    width: 50%;
    position: absolute;
    animation: mymove 8s infinite;
    animation-timing-function: linear;
    z-index: 4;



}

@media(min-width: 40em) {
    .container {
        grid-template-columns: 50% 50%;
    }

    .sort {

        width: 10%;

    }



}

@media(min-width: 80em) {
    .container {
        grid-template-columns: 30% 30% 30%;


    }

    .search:hover > .searchInput {
        width: 280px;
        padding: 0 6px;
    }


    .searchBox:hover > .searchInput {
        width: 300px;
        padding: 0 2px;
    }


    .search:hover > .searchButton {
        background: #ffc917;

    }

}
