body {
    font-family: sans-serif;
    background-color: #e7e7e9;
    margin: 0;

}

@keyframes kleur {
    from {
        background-image: linear-gradient(transparent, #ffc917, #e7e7e9);
    }

    to {
        background-image: linear-gradient(transparent, #003082, #e7e7e9);
    }
}

nav {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    background: #ffc917;

    height: 3.5em;
    width: 100%;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;


}

li {
    list-style: none;
}

.ns {
    width: 3.25rem;
    height: 1.25rem;
    float: left;
    display: block;
    margin-top: 0px;
}



.banner {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 4em;
}

.container {
    display: grid;
    justify-content: center;


}

.container p {
    font-size: 12px;
}


.wrapsearch {
    position: absolute;
    float: none;
}

.relative {
    position: relative;
}

.preview {
    position: relative;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    width: 60%;
    border-radius: 20px;
}

.previewr {
    position: absolute;
    left: 85%;
    top: 5%;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

#saved {
    display: none;
    position: absolute;
    left: 85%;
    top: 5%;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}



.verhaal {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    border-spacing: 0;
    padding: 0.5em;
    margin: 0.8em;
    background-color: white;
    border-radius: 20px;
    max-height: 40em;

}

.verhaal p {
    max-width: 60%;
}

.comments {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.comments p {
    margin: 5px;
    font-style: italic;
    color: grey;
}

.lezen {
    cursor: pointer;
    margin-left: auto;
    height: 100%;
    width: 40%;
    background-color: transparent;
    border: 2px solid #003082;
    border-radius: 0.6em;
    font-size: 12px;
    padding: .5em .5em;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
}

a:visited {
    color: #003082;
}

.lezen:hover {
    box-shadow: 0 0 40px 40px #003082 inset;
    color: white;
}

#hi {

    background-color: white;
    max-width: 60%;
    min-width: 60%;
    padding: 5em;
    margin: auto;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
}

h3 {
    color: #003082;
    margin: 1px 10em;
}

@media(min-width: 40em) {
    .container {
        grid-template-columns: 33% 33% 33%;


    }
}

@media(min-width: 70em) {
    .container {
        grid-template-columns: 20% 20% 20%;


    }
